*{
	padding: 0;
	margin: 0;
}
body{
	background: url('https://images.pexels.com/photos/1766838/pexels-photo-1766838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: #dedede;
    background-color :whitesmoke;
	border-radius: 15px;
}
.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #40c5ba;
}
.login_Page{
	padding: 20px 40px;
}
.login_Page .email_content{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
}
.login_Page input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
  
}
.login_Page .password_content{
	font-size: 18px;
	color: #130f40;
	margin: 5px 0;
	margin-top: 30px;
}
.login_Page button{
	margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 25px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #7df3d0;
	border-radius: 10px;
	border: 1px solid #399485;
	transition: .5s;
}
.login_Page button:hover{
	background: #40c5ba;
}
.login_Page #email_error,
.login_Page #pass_error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}


